
<div ng-show='funds.length > 0'>
  <div class='col-md-1'></div>

  <div class="col-md-2">
    <h4 class='text-center alert alert-info'>Name:</h4>
    <br>
    <h4 class='text-center alert alert-info'>Current $:</h4>
    <br>
    <h4 class='text-center alert alert-info'>Current %:</h4>
    <br>
    <h4 class='text-center alert alert-info'>Target $:</h4>
    <br>
    <h4 class='text-center alert alert-info'>Target %:</h4>
    <br>
    <h4 class='text-center alert alert-info'>Transfer $:</h4>
    <br>
    <h4 class='text-center alert alert-info'>Direction:</h4>
  </div>

  <div class='row'>
    <div class='col-md-offset-1'>
      <div ng-repeat="fund in funds">
        <div class="col-md-2">
          <h4 class='text-center alert alert-info'>{{fund.name}}</h4>
          <br>
          <h4 class='alert alert-warning text-center'>${{fund.current$}}</h4>
          <br>
          <h4 class='alert alert-warning text-center'>{{fund.currentPercentage}}%</h4>
          <br>
          <h4 class='alert alert-warning text-center'>{{fund.desiredValue}}</h4>
          <br>
          <h4 class='alert alert-warning text-center'>{{fund.desired}}%</h4>
          <br>
          <h4 ng-class="fund.ftt[1] === '0' ? 'NA' : fund.ftt[0] === '-'  ? 'sell' : 'buy'" class='alert alert-success text-center'>{{fund.ftt}}</h4>
          <br>
          <h4 ng-class="fund.ftt[1] === '0' ? 'NA' : fund.ftt[0] === '-'  ? 'sell' : 'buy'" class='alert alert-success text-center'>{{fund.direction}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='container' ng-hide="funds.length > 0">
  <h1 class='text-primary text-center'>Please Fill In All of The Boxes</h1>
</div>
