
<div ng-show='funds.length > 0'>
  <div class='row'>
    <div class="col-md-4">
      <h4 class='text-center alert alert-info'>Name:</h4>
    </div>
    <div class="col-md-1">
      <h4 class='text-center alert alert-info'>Current $:</h4>
    </div>
    <div class="col-md-1">
      <h4 class='text-center alert alert-info'>Current %:</h4>
    </div>
    <div class="col-md-1">
      <h4 class='text-center alert alert-info'>Enter %:</h4>
    </div>
    <div class="col-md-1">
      <h4 class='text-center alert alert-info'>Target $:</h4>
    </div>
    <div class="col-md-2">
      <h4 class='text-center alert alert-info'>Transfer $:</h4>
    </div>
    <div class="col-md-2">
      <h4 class='text-center alert alert-info'>Action:</h4>
    </div>
  </div>

  <div class='row'>
    <div ng-repeat="fund in funds">
      <div class="col-md-4">
        <h4 class='text-center alert alert-info'>{{fund.name}}</h4>
      </div>
      <div class="col-md-1">
        <h4 class='alert alert-success text-center'>${{fund.current$}}</h4>
      </div>
      <div class="col-md-1">
        <h4 class='alert alert-success text-center'>{{fund.currentPercentage}}%</h4>
      </div>
      <div class="col-md-1">
        <input type='number' required min='0' max='100' ng-model='fund.desired' class='alert alert-warning text-center target-input input-lg form-control'>
      </div>
      <div class="col-md-1">
        <h4 class='alert alert-success text-center'>{{!invalidPercentage ? fund.desiredValue : 'Enter valid %'}}</h4>
      </div>
      <div class="col-md-2">
        <h4 ng-class="fund.ftt[1] === '0' || invalidPercentage ? 'NA' : fund.ftt[0] === '-'  ? 'sell' : 'buy'" class='alert alert-success text-center'>{{!invalidPercentage ? fund.ftt : 'Enter valid %'}}</h4>
      </div>
      <div class="col-md-2">
        <h4 ng-class="fund.ftt[1] === '0' || invalidPercentage ? 'NA' : fund.ftt[0] === '-'  ? 'sell' : 'buy'" class='alert alert-success text-center'>{{!invalidPercentage ? fund.direction : 'Enter valid %'}}</h4>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-offset-6 col-md-1'>
    <button type='submit' class="btn btn-lg btn-warning" ng-click='updateTarget()'>Update Risk</button>
  </div>
  <div class='col-md=2'>
    <span class='text-danger incorrect' ng-show='invalidPercentage'>Percentage needs to add up to 100!</span>
  </div>
</div>



<div class='container' ng-hide="funds.length > 0">
  <h1 class='text-primary text-center'>Please Fill In All of The Boxes</h1>
</div>
