<navigation></navigation>

<div class="container">
  <page-header content=""></page-header>

  <div class="row">
    <div class="col-md-6 col-sm-8">
      <p class="lead">Not a member? Please <a href="/#register?page=">register</a> first.</p>
      <form ng-submit='verifyUser(email, password)'>
        <div role="alert" ng-show="vm.formError" class="alert alert-danger"></div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model='email'>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" ng-model='password'>
        </div>
        <button type="submit" class="btn btn-info">Sign in!</button>
        <span class='text-danger incorrect pull-right' ng-show='wrong'>Incorrect username or password</span>
      </form>
    </div>
  </div>

  <footer-generic></footer-generic>
</div>
